@import "tailwindcss";

@theme {
  --color-primary: #ffcc00;
  --color-secondary: #0066b3;

  --h-game-container: 480px;
}

@layer base {
  html {
    font-family: var(--font-mono);
  }
}

@layer components {
  .btn-default {
    all: unset;
    display: block;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    border-radius: 0.5rem;

    font-weight: bold;

    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: 0.25rem solid var(--color-primary);
    transition: scale 0.2s ease;

    cursor: pointer;
  }
  .btn-default:hover {
    filter: brightness(95%);
  }
  .btn-default:active {
    scale: 95%;
  }

  .progressBar {
    width: 100%;
  }

  ::-webkit-progress-bar {
    background: var(--color-secondary);
    background: white;
    border-radius: 1rem;

    overflow: hidden;
  }
  ::-webkit-progress-value {
    background: var(--color-secondary);
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    margin: auto;
    height: min(3.5rem, 16vw);
    aspect-ratio: 1;
    position: relative;
  }
  .loader::before,
  .loader::after {
    position: absolute;
    transform-origin: bottom;
  }
  .loader::after {
    content: "";
    inset: 0;
    border-radius: 50%;

    border: 0.2rem solid #000;
    background:
      radial-gradient(at 80% 40%, #0000, #0008),
      radial-gradient(circle 5px, #fff 94%, #0000),
      radial-gradient(circle 10px, #000 94%, #0000),
      linear-gradient(#f93318 0 0) top / 100% calc(50% - 5px),
      linear-gradient(#fff 0 0) bottom/100% calc(50% - 5px) #000;
    background-repeat: no-repeat;
    animation: l20 1s infinite cubic-bezier(0.5, 120, 0.5, -120);
  }
  @keyframes l20 {
    30%,
    70% {
      transform: rotate(0deg);
    }
    49.99% {
      transform: rotate(0.2deg);
    }
    50% {
      transform: rotate(-0.2deg);
    }
  }
  @media screen and (max-width: 40rem) {
    .loader::before {
      display: none;
    }
  }
}

@layer utilities {
  @keyframes up-down {
    0% {
      translate: 0;
    }
    50% {
      translate: 0 -0.75rem;
      filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
    }
  }
  .animate-up-down {
    animation: up-down 1s ease-in-out infinite;
  }
}
